{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Result</h1>
    <div class="container-fluid">
        <div class="row">
        {% for category, classification in classification_result.items() %}
            {% if classification == 1 %}
            <div class="col-sm-3 success bg-primary"><p class="text-md-left text-uppercase font-weight-bold m-auto p-3">{{category.replace('_', ' ').title()}}</p></div>
            {% else %}
            <div class="col-sm-3 bg-light"><p class="text-md-left text-uppercase font-weight-bold m-auto p-3">{{category.replace('_', ' ').title()}}</p></div>

            {% endif %}
        {% endfor %}
        </div>
    </div>

{% endblock %}
